body {
    background-color: black;
    color: white;
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

table tbody tr:hover {
    background-color: #202020;
}

thead {
    border-bottom: solid white 2px;
}

tr td, tr th {
    padding: 0.5rem 1rem 0.5rem 0.1rem;
}

section#ticker-table {
    max-height: 750px;
    overflow-y: scroll;
}

.positive {
    color: green;
}

.negative {
    color: red;
}