<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Home</title>

    <script src="../js/request.js"></script>
    <script src="../js/spec/index.js"></script>
    <link rel="stylesheet" href="../css/bootstrap_v4_0_0.css" />
    <link rel="stylesheet" href="../css/root.css" />
</head>
<body>
    <a href="../">Home</a>
    <h1>Glowing Pancake Home</h1>
    $$__REPORTS__$$

    $$__GEN_REPORTS__$$
</body>
</html>