<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>$$__TITLE__$$</title>

    <link rel="stylesheet" href="../css/bootstrap_v4_0_0.css" />
    <link rel="stylesheet" href="../css/root.css" />

    <script src="../js/chart_js_2_9_3.js"></script>
    <script src="../js/chart-colors.js"></script>
    $$__HEAD__$$
</head>
<body>
    <a href="../">Home</a>
    <h1>Report $$__TITLE__$$</h1>
    $$__BODY__$$
</body>
</html>