<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>$$__TITLE__$$</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        table {
            border-collapse: collapse;
        }

        table tbody tr:hover {
            background-color: #202020;
        }

        thead {
            border-bottom: solid white 2px;
        }

        tr td, tr th {
            padding: 0.5rem 1rem 0.5rem 0.1rem;
        }
    </style>
    <script src="../js/chart_js_2_9_3.js"></script>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
    </script>
    $$__HEAD__$$
</head>
<body>
    <h1>Report $$__TITLE__$$</h1>
    $$__BODY__$$
</body>
</html>